.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #0C1844;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #F7DCB9;
}

p {
  font-size: 2rem;
  color: #F7DCB9;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}



button{
  display: block;
  font-family: 'Indie Flower', cursive;
  width: 5%; /* Adjust to a suitable pixel value */
  height: 30px; /* Adjust to a suitable pixel value */
  margin: 20px auto;
  font-size: 20px;
  background-color: darkred;
  color: #F7DCB9;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
